numpy==1.26.4
scipy
pandas
seaborn
matplotlib
japanize-matplotlib
scikit-learn
pillow
opencv-python
requests
tqdm
colorama
pytest

# modules below are for deep learning
tensorflow
keras
torch==2.2.2
torchvision==0.17.2

# modules below are for linting
pyproject-flake8
mypy
isort
black
